<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- including the head section using ejs -->

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="not-found content">
                <h2>OOPs! Page not found</h2>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>