<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- including the head section using ejs -->

    <body>
        <%- include('./partials/nav.ejs') %> <!-- including the nav bar using ejs -->
            <div class="about content">
                <h2>About us</h2>
                <b>Welcome to NerdBlogs - Your Ultimate Tech and Programming Hub!</b>

                <p>Are you passionate about all things tech, coding, and development? Do you find yourself constantly
                    immersed in the world of programming languages, cutting-edge software, and the latest tech trends?
                    If so, you've just stumbled upon your new digital haven – NerdBlogs!</p>

                <b>About NerdBlogs:</b>
                <p>NerdBlogs is the brainchild of the renowned YouTube channel, Nerd Bash. Born from a relentless
                    enthusiasm for technology and programming, we've expanded our horizons to create a dynamic online
                    platform that caters to all the nerdy souls out there, hungry for knowledge and inspiration.</p>

                <b>Why NerdBlogs?</b>
                <p>At NerdBlogs, we are committed to providing you with insightful, entertaining, and informative
                    content that feeds your tech cravings. Whether you're a seasoned developer looking to stay updated
                    with the latest industry trends or a newbie eager to learn the ropes of programming, NerdBlogs is
                    your go-to destination.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>