<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- including the head section using ejs -->

    <body>
        <%- include('./partials/nav.ejs') %> <!-- including the nav bar using ejs -->
            <div class="about content">
                <h2>About us</h2>
                <p>At Nerdbash, my goal is to provide easy-to-access, interesting, and educational information to empower and inspire the next generation of tech lovers, developers, and learners. I aim to create a lively and welcoming community where people of all ages can explore, learn, and become experts in the ever-changing fields of technology and coding. I believe that sharing information can change lives. My mission is to make tech and coding education fun, approachable, and a driving force for personal growth. I want to spark your creativity and sense of wonder while building a supportive community. Ultimately, my goal is to be your reliable partner on your journey to becoming a better developer.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>